@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


html,
body {
    background-color: lightgrey;
}


/* Dropdown animation  */

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.5s;
        -webkit-animation-duration: 0.5s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}


/* caroussel css */

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform 2s ease-in-out ;
    -o-transition: -o-transform 2s ease-in-out ;
    transition: transform 2s ease-in-out ;
}

/* Titra de la page acceuil */

.MH  {
    top: 20%;
    font-size: 200px;
    position: absolute;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    color: white;
    


}


